div.user-profile-override-row-field div {
  margin-left: 24px;
  color: #666;
  line-height: 1.23em;
  font-size: 0.8em;
  margin-top: 5px;
}

div.user-profile-override-row-field div span {
  color: #666;
  font-weight: bold;
}
